.header {
    display: flex;
    background-color: var(--gray-700);
    justify-content: center;
    padding: 4.5rem  0 5rem 0;
}

.header img {
    height: 2rem;
}
.header img:first-child {
    padding-right: 0.75rem;
}
