.todo {
    width:46rem;
    height: 4.5rem;
    margin-top: 0.75rem ;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);

    display:flex;
}

.todoContent {
    width: 39.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin: 1rem 12px 1rem 16px;
    gap: 0.75rem;
}
.todoContent input {
    background-color: aqua;
    border-radius: 100%;
}
.todo > button {
    color: var(--gray-300);
    background: transparent;
    border: 0;
    line-height: 0;
    margin-right: 1rem;
    border-radius: 4px;
}
.todo > div {
    flex-grow: 1;
}

.checkUndone {
    background-color: aquamarine;
}

/* .todo span {
    color: var(--gray-100);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
}



.todo input:checked + span {
    text-decoration: line-through;
    color: var(--gray-300);
} */

.done {
    text-decoration: line-through;
    color: var(--gray-300);
}

.undone {
    color: var(--gray-100);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 140%;
}
